@import url(http://fonts.googleapis.com/css?family=Lato);

body{
  background-color:#ecf0f1;
  overflow:hidden;
}
.topBar{
  z-index:1;
  position:absolute;
  width:200px;
  height:40px;
  background-color:#f39c12;
}
.form{
  margin-top:40px;
  position:absolute;
  width:200px;
  height:160px;
  background-color:#f1c40f;
}
.textAria{
  position:absolute;
  border-color:red;
  width:180px;
  height:140px;
  position:absolute;
  margin:10px;
  font-family: 'Lato', sans-serif;
  overflow:hide;
}
.textAria:focus{
  outline: 0;
}

/*ul { list-style-type: none; margin: 0; padding: 0; margin-bottom: 10px; }
.sortable { float: left; width: 150px; min-height: 50px; padding: 0.5em; float: left; margin: 8px 10px 8px 20px; cursor: hand; cursor: pointer; border: 1px dotted red; }
.trash-can { float: left; width: 100px; min-height: 100px; padding: 0.5em; float: right; margin: 8px 10px 8px 20px; cursor: hand; cursor: pointer; border: 1px dotted red; }
.droppable { float: left; width: 150px; height: 150px; padding: 0.5em; float: left; }
.draggable { width: 100px; height: 50px; padding: 0.5em; margin: 8px 10px 8px 20px; cursor: hand; cursor: pointer; border: 1px solid #000; }*/
